<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="index.css" rel="stylesheet" type="text/css" />

    <style>
    body{
      background: url("http://i66.tinypic.com/2nbee6x.jpg"), purple;
      background: url("http://i66.tinypic.com/2nbee6x.jpg"), -webkit-linear-gradient(to left, purple, blue);
      background: url("http://i66.tinypic.com/2nbee6x.jpg"), linear-gradient(to left, purple, blue);
    }
    
    a:link {
      color: yellow;
      text-decoration: none;
      
    }
    
    a:visited {
      color: yellow;
      text-decoration: none;
    }
    
    a:hover {
      color: pink;
      text-decoration: none;
    }
    
    h2{
      color: white;
    }
    
    * {
    box-sizing: border-box;
    }

/* Create three equal columns that floats next to each other */
  .column {
    float: center;
    width: 50%;
    padding: 80px;
    height: 500px; /* Should be removed. Only for demonstration */
  }

/* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  </style>
</head>
  <body>
   
    <div class="row">
      <div class="column">
        <br><br><br><br>
      
      <p>
        
        <!--<img src="<%=@artist['img']%>" style=height:100px>-->
        <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:<%=@artist['id']%>&size=detail&theme=dark" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
      </p>
      <h1>Artist: <b> <%=@artist['name']%> </b></h1>

          <p><b>genre: </b><%=@genre%>
          <br><b>instagram: </b> <a href= "https://www.instagram.com/<%=@artist['insta']%>/?hl=en"><%=@artist['insta']%> </a>
          <br><b>twitter: </b> <a href= "https://www.twitter.com/<%=@artist['twitter']%>"><%=@artist['twitter']%> </a>
          <br><b>most recent release: </b><%=@artist['song']%></a>
          </p>
        <p><b>biography: </b> <%=@artist['bio']%></p>
        
        <form action="/artist">
        <select name="genre">
          <option value="">Select Genre</option>
          <option value="pop">Pop</option>
          <option value="indie">Indie</option>
          <option value="country">Country</option>
        </select>
          <input type="submit" value="Generate!">
            </form>
  </div>
  <div class="column">
    <br><br><br><br><br><br><br>
    <iframe src="https://open.spotify.com/embed/album/<%=@artist['album']%>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>
  </body>

</html>
